body {
 height: 100%;
 margin: 0;
 padding: 0;
 text-align: center;
 align-items: center;
 background-image: linear-gradient(180deg,#e9ff89,#fff);
 flex: auto;
}

h1 {
 display:border-box;
 border-radius: 10px;
 background-color: #ffa136;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size:60px;
 text-decoration: underline;
 color: #09043d;
}

h2 {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 32px;
 color:#09043d;
}

.main {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: #04233d;
}

.question {
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-size: 25px;
}
 
.options {
 margin-top: 2px;
 margin-right: 20px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 25px;
 grid-template-columns: repeat(2, 1fr);
}
 
button {
 margin-top: 10px;
 margin-bottom: 0px;
 margin-left: 1px;
 margin-right: 3px;
 font-size: 20px;
 padding: 6px 6px;
 background-color: #af2f08;
 color: white;
 border: none;
 cursor: pointer;
}

a{
 font-size: 20px;
 padding: 3px;
 background-color: #0c0472;
 color: white;
 text-decoration: none;
}
 
#score {
 font-size: 25px;
 color: #c41f02;
}

select {
 font-size: 18px;
}

textarea{
 width: 200px;
 font-size: 18px;
}