body {
 height: 100%;
 margin: 0;
 padding: 0;
 text-align: center;
 background-color: #e9ff89;
 flex: auto;
}

h1 {
 display:border-box;
 background-color: #ffa136;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size:60px;
 text-decoration: underline;
 color: #09043d;
}

h2 {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 40px;
 color:#09043d;
}

.main {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: #04233d;
}

.question {
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-size: 25px;
}
 
.options {
 margin-top: 2px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 25px;
 grid-template-columns: repeat(2, 1fr);
    
}
 
button {
 margin-top: 1%;
 margin-left: 1%;
 font-size: 20px;
 padding: 8px 9px;
 background-color: #028102;
 color: white;
 border: none;
 cursor: pointer;
}

a{
 font-size: 20px;
 padding: 3px;
 background-color: #0c0472;
 color: white;
 text-decoration: none;
}
 
#score {
 font-size: 25px;
 color: #c41f02;
}